.login-page, .sidebar {
    background: #fd746c !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #e53935 , #e35d5b) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #e53935 , #e35d5b) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.dashboard-page .nav-sidebar>.active>a, .dashboard-page .nav-sidebar>.active>a:hover, .dashboard-page .nav-sidebar>.active>a:focus, .dashboard-page .nav>li>a:hover, .dashboard-page .nav>li>a:focus {
    color: #ffffff !important;
    background-color: #9C3D3A !important;
}
.item-cad {
    color: #333;
    padding-top: 5px;
    padding-bottom: 20px;
    background: #ecf0f1 !important;
    transition: all 0.2s ease;
}
.item-cad:hover {
    transform: scale(1.2);
    background: #d0d4d5 !important;
}
.item-cad h1 {
    margin-bottom: 10px !important;
}
