/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.ideia
.ideia/*
.idea
/.idea/.name
/.idea/blade.xml
/.idea/deliveryclube.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/copyright/profiles_settings.xml
/.idea/dataSources.ids
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/public/assets/images/uploads
/public/assets/images/ofertas_ticket
