<div class=login-page>
    <div class=row>
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4"><img src=/app/images/primary-logo-png-transp-reduzida.png>

            <h1>Delivery Clube
                <small>Painel de Gerenciamento</small>
            </h1>
            <form role=form ng-submit=signin()>
                <div class=form-content>
                    <div class=form-group><input ng-model="email" type=email class="form-control input-underline input-lg"
                                                 placeholder=E-mail></div>
                    <div class=form-group><input ng-model="password" type=password class="form-control input-underline input-lg"
                                                 placeholder=Password></div>
                </div>
                <button type=submit class="btn btn-white btn-outline btn-lg btn-rounded">EFETUAR CREDENCIAMENTO</button>
            </form>
        </div>
    </div>
</div>