<div><a ui-sref=reports class="pull-right btn btn-primary btn-outline btn-rounded">Relatórios</a>

    <h2>Visão Geral
        <small>Controle de anúncios ativos</small>
    </h2>
    <div class=jumbotron>
        <div class=container>
            <h1>Atalhos de navegação:</h1>
            <div class="row">
                <div class="col-md-4 text-center">
                    <a ui-sref=planos>
                        <div class="item-cad">
                            <h1><i class="glyphicon glyphicon-list-alt"></i></h1>
                            <h3>PLANOS</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a ui-sref="empresas">
                        <div class="item-cad">
                            <h1><i class="glyphicon glyphicon-home"></i></h1>
                            <h3>EMPRESAS</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="">
                        <div class="item-cad">
                            <h1><i class="glyphicon glyphicon-duplicate"></i></h1>
                            <h3>TICKET CLUBE</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>