<div>
    <a ui-sref=categorias class="pull-right btn btn-primary btn-outline btn-rounded">
        <i class="glyphicon glyphicon-circle-arrow-left"></i>
        VOLTAR PARA LISTAGEM
    </a>

    <h2>Gerenciamento
        <small>Categorias:</small>
    </h2>
    <div class=jumbotron>
        <div class=container>
            <h1>Cadastrar nova:</h1>
            <form ng-submit="store()">
                <div class="row">
                    <div class="col-md-12">
                        <label>Categoria:</label>
                        <input type="text" ng-model="categoria.categoria" required class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <button type="submit" class="btn btn-success col-md-12">CADASTRAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>