<div ng-init="itens()">
    <a ui-sref="itensCardapio({id: data.id })" class="pull-right btn btn-success btn-outline btn-rounded">
        <i class="glyphicon glyphicon-plus"></i>
        VOLTAR A LISTA DE ITENS
    </a>

    <h2>Gerenciamento
        <small>Cardápio:</small>
    </h2>
    <div class=jumbotron>
        <div class=container>
            <h1>Itens <small>Cardápio: {{ data.rotulo }}</small></h1>
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">Informe os dados do item:</div>
                        <div class="panel-body">
                            <form ng-submit="pushItem()">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Item (rótulo):</label>
                                        <input type="text" ng-model="item.item" required class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Descrição:</label>
                                        <textarea ng-model="item.descricao" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Preço (R$):</label>
                                        <input type="text" ng-model="item.preco" required class="form-control">
                                    </div>
                                </div>
                                <div class="row" ng-show="item.variacoes.length > 0">
                                    <div class="col-md-12">
                                        <br>
                                        <label>Variações do item:</label>
                                        <ul class="list-group">
                                            <li class="list-group-item" ng-repeat="sub in item.variacoes">
                                                <span class="badge">{{ sub.preco | currency:"R$ " }}</span>
                                                {{ sub.rotulo }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Porção (250g, 2L, etc.):</label>
                                        <input type="text" ng-model="item.porcao" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Ativo:</label>
                                        <select ng-model="item.ativo" required class="form-control">
                                            <option value="" selected>Selecione...</option>
                                            <option value="1">Sim</option>
                                            <option value="0">Não</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary col-md-5" type="submit">PREPARAR ITEM</button>
                                        <button ng-click="openModal()" class="btn btn-default col-md-5 col-md-offset-2" type="button">ADICIONAR VARIAÇÃO</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">Itens preparados:</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="item in novosItens">

                                    <span class="badge" ng-hide="item.variacoes.length > 0">{{ item.preco | currency:"R$ " }}</span>

                                    {{ item.item }} <a href="" ng-click="removeItem($index)" class="text-danger"> <i class="glyphicon glyphicon-trash"></i></a>

                                    <ul ng-show="item.variacoes.length > 0">
                                        <li ng-repeat="sub in item.variacoes">
                                            {{ sub.rotulo }} <span class="badge">{{ sub.preco | currency:"R$ " }}</span>
                                        </li>
                                    </ul>


                                </li>
                            </ul>
                            <a href="" ng-click="storeItens()" ng-show="novosItens.length > 0" class="btn btn-success col-md-12"><i class="glyphicon glyphicon-save"></i> SALVAR ITENS NO CARDÁPIO </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Variação do item {{ item.item | uppercase }}</h4>
            </div>
            <form ng-submit="pushSubItem()">
                <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <label>Rótulo: (Ex: Pequena, Médias, Dupla, etc...)</label>
                                <input type="text" ng-model="subitem.rotulo" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <label>Preço: </label>
                                <input type="text" ng-model="subitem.preco" class="form-control">
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>

        </div>
    </div>
</div>