<div ng-init="itens()">
    <a ui-sref="itensCardapio({id: data.id })" class="pull-right btn btn-success btn-outline btn-rounded">
        <i class="glyphicon glyphicon-plus"></i>
        VOLTAR A LISTA DE ITENS
    </a>

    <h2>Gerenciamento
        <small>Cardápio:</small>
    </h2>
    <div class=jumbotron>
        <div class=container>
            <h1>Itens <small>Cardápio: {{ data.rotulo }}</small></h1>
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">Informe os dados do item:</div>
                        <div class="panel-body">
                            <form ng-submit="pushItem()" novalidate>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>
                                            <select class="form-control" name="categoria" id="categoria" ng-model="item.categoria">
                                                <option ng-repeat="categoria in categorias" value="{{categoria}}">{{categoria}}</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div ng-show="item.categoria == 'Comum'">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Item (rótulo):</label>
                                            <input type="text" ng-model="item.item" required class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Descrição:</label>
                                            <textarea ng-model="item.descricao" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Preço (R$):</label>
                                            <input type="text" ng-model="item.preco" required class="form-control">
                                        </div>
                                    </div>
                                    <div class="row" ng-show="item.variacoes.length > 0">
                                        <div class="col-md-12">
                                            <br>
                                            <label>Variações do item:</label>
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="sub in item.variacoes">
                                                    <span class="badge">{{ sub.preco | currency:"R$ " }}</span>
                                                    {{ sub.rotulo }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Porção (250g, 2L, etc.):</label>
                                            <input type="text" ng-model="item.porcao" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Ativo:</label>
                                            <select ng-model="item.ativo" required class="form-control">
                                                <option value="" selected>Selecione...</option>
                                                <option value="1">Sim</option>
                                                <option value="0">Não</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div ng-show="item.categoria == 'Pizza'">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>Tamanhos da Pizza: <small><a href="" data-toggle="modal" data-target="#modalTamanho"> <i class="glyphicon glyphicon-plus-sign"></i> </a></small></h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="tamanho in item.tamanhos">
                                                    {{ tamanho.tamanho }} <span class="text-warning" ng-show="tamanho.sabor">| {{ tamanho.sabor }} sabores</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="item.tamanhos">
                                        <div class="col-md-12">
                                            <h4>Tipos de Massa: <small><a href="" data-toggle="modal" data-target="#modalTipo"> <i class="glyphicon glyphicon-plus-sign"></i> </a></small></h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="tipo in item.tipos">
                                                    {{ tipo.tipo}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="item.tamanhos">
                                        <div class="col-md-12">
                                            <h4>Sabores de Pizza: <small><a href="" data-toggle="modal" data-target="#modalSabor"> <i class="glyphicon glyphicon-plus-sign"></i> </a></small></h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="sabor in item.sabores">
                                                    <strong>{{ sabor.sabor}}</strong>
                                                    <ul>
                                                        <li ng-repeat="(k, v) in sabor.preco">
                                                            {{ k }} | {{ v | currency:"R$ " }}
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" ng-show="item.categoria != null">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary col-md-5" type="submit">PREPARAR ITEM</button>
                                        <button ng-show="item.categoria != 'Pizza'" ng-click="openModal()" class="btn btn-default col-md-5 col-md-offset-2" type="button">ADICIONAR VARIAÇÃO</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">Itens preparados:</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="item in novosItens">

                                    <div ng-show="item.categoria == 'Comum'">
                                        <span class="badge" ng-hide="item.variacoes.length > 0">{{ item.preco | currency:"R$ " }}</span>

                                        {{ item.item }} <a href="" ng-click="removeItem($index)" class="text-danger"> <i class="glyphicon glyphicon-trash"></i></a>

                                        <ul ng-show="item.variacoes.length > 0">
                                            <li ng-repeat="sub in item.variacoes">
                                                {{ sub.rotulo }} <a href="" ng-click="removeSubItem($index)" class="text-danger"> <i class="glyphicon glyphicon-trash"></i></a> <span class="badge">{{ sub.preco | currency:"R$ " }}</span>
                                            </li>
                                        </ul>
                                    </div>

                                    <div ng-show="item.categoria == 'Pizza'">
                                        Pizza <a href="" ng-click="removeItem($index)" class="text-danger"> <i class="glyphicon glyphicon-trash"></i></a>
                                        <ul>
                                            <li ng-repeat="sabor in item.sabores">
                                                <strong>{{ sabor.sabor}}</strong><br>
                                                <small>{{ sabor.descricao }}</small>
                                                <ul>
                                                    <li ng-repeat="(k, v) in sabor.preco">
                                                        {{ k }} | {{ v | currency:"R$ " }}
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>


                                </li>
                            </ul>
                            <a href="" ng-click="storeItens()" ng-show="novosItens.length > 0" class="btn btn-success col-md-12"><i class="glyphicon glyphicon-save"></i> SALVAR ITENS NO CARDÁPIO </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Variação do item {{ item.item | uppercase }}</h4>
            </div>
            <form ng-submit="pushSubItem()">
                <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <label>Rótulo: (Ex: Pequena, Médias, Dupla, etc...)</label>
                                <input name="rotulo" type="text" ng-model="subitem.rotulo" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <label>Preço: </label>
                                <input name="preco" type="text" ng-model="subitem.preco" class="form-control">
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Modal Tamanhos -->
<div class="modal fade" id="modalTamanho" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Adicionar um tamanho</h4>
            </div>
            <form ng-submit="pushTamanho()">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <label>Rótulo: (Ex: Pequena, Médias, Dupla, etc...)</label>
                            <input type="text" ng-model="tamanho.tamanho" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <label>
                                    <input type="radio" name="sabores" ng-model="tamanho.sabor" value="2"> 2 Sabores
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Modal Tipos -->
<div class="modal fade" id="modalTipo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Adicionar um tipo de massa</h4>
            </div>
            <form ng-submit="pushTipo()">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <label>Tipo: (Ex: Grossa, Fina, Integral, etc...)</label>
                            <input name="tipo" type="text" ng-model="tipo.tipo" class="form-control">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Modal Sabores -->
<div class="modal fade" id="modalSabor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Adicionar Sabores de Pizza</h4>
            </div>
            <form ng-submit="pushSabor()">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <label>Sabor: (Ex: Muzzarela, Calabresa, Frango, etc...)</label>
                            <input name="sabor" type="text" ng-model="sabor.sabor" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>Descrição:</label>
                            <textarea ng-model="sabor.descricao" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Preços:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Tamanho</th>
                                        <th>Preço</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="tam in item.tamanhos">
                                        <td>{{ tam.tamanho }}</td>
                                        <td>
                                            <input type="text" name="preco" ng-model="sabor.preco[tam.tamanho]" class="form-control">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>

        </div>
    </div>
</div>