<div ng-init="itens()">
    <a ui-sref="insertItens({id: data.id })" class="pull-right btn btn-success btn-outline btn-rounded">
        <i class="glyphicon glyphicon-plus"></i>
        INSERIR ITENS AO CARDÁPIO
    </a>

    <h2>Gerenciamento
        <small>Cardápio:</small>
    </h2>
    <div class=jumbotron>
        <div class=container>
            <h1>Itens <small>Cardápio: {{ data.rotulo }}</small></h1>
            <table datatable="ng" class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Item</th>
                    <th>Preço</th>
                    <th>Porção</th>
                    <th>Ativo</th>
                    <th>Registrado</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in data.itens">
                    <td>{{ item.id }}</td>
                    <td>{{ item.item }}</td>
                    <td>{{ item.preco | currency }}</td>
                    <td>{{ item.porcao }}</td>
                    <td>{{ item.ativo }}</td>
                    <td>{{ item.created_at | dateParse | date:'short'}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <a ui-sref="editItem({cardapio: data.id, item: item.id })" class="btn btn-default" title="Editar Item">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-danger" ng-click="deleteItem(item.id)" title="Excluir">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>